


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(137, 43, 226, 0.526);
}
 
.container{
    width: 300px;
    height: 340px;
    background-color: rgba(92, 5, 173, 0.472);
  
   
    margin: 0 auto;
   margin-top: 150px;
   border-radius: 10px;
 
   padding: 30px;
} 

.container img{
     margin-top: -10px; 
}

.container h3{
    color: white;
    margin-top: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
  
}

.container .bat input{
    margin-top: 30px;
    width: 250px;
    height: 40px;
    
    background-color: 0%;
    border-radius: 10px;
   border: 1px solid;
  
   
}
 ::placeholder {
  color: black;
  font-size: 1rem;
  padding: 20px;
}

span a{
    width: 100px;
    height: 30px;
    border-radius: 20px;
   
    background: rgba(179, 144, 212, 0.56);
   
   display: flex;
   margin-left: 70px;
   justify-content: center;
   align-items: center;
  margin-top: 20px;
  text-decoration: none; 
  color: white;
  
}

.sac{
    font-size: 1.2rem;
    color: white;
    margin-left: 30px;
    margin-top: 10px;
}

.classet{
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}
.classet p{
    color: rgb(194, 191, 191);
    color: 50%;

}
.classet a{
    color: white;
    text-decoration: none;
}