*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Indie Flower;
    background-color: #000;
}

.open{
    width: 100%;
    height: 70px;
    /* background-color: rgb(71, 6, 6); */
    position: fixed;
    border: 1px solid #000;
background: #2D2424;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


}
.open ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 65px;
    z-index: 10;

}
.open ul li {
    list-style: none;
}

.open ul li a{
    color: rgb(224, 219, 219);
    text-decoration: none;
    
  
}
.open .sami span{
    color: #872525;
    text-align: center;
    font-size: 20px;
   
  
}
.open ul .classe{
    width: 100px;
    height: 30px;
   
    border-radius: 30px;
    background: #872525;
   display: flex;
   justify-content: center;
   align-items: center;
  margin-top: 20px;
 
}
.open ul .classe .a2{
     text-align: center;
    text-decoration: none;
   
    color: #DCD9D9;
    text-align: center;
  
}


.video {
  
   
}
.video h1{
    
   text-align: center;
    padding: 100px;
   color: #ffff;
     
} 

.box{
  
    padding: 100px;
    width: 100%;
    height: 100%;
   
   
  
}
.box img{
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 20px;
    
}
.box span{
    width: 200px;
    height: 30px;
   margin-top: 100px;
    background-color:  rgb(71, 6, 6);
   display: flex;
   justify-content: center;
   align-items: center;
    color: #ffff;
}
.vire{
    display: grid;
    grid-template-columns: 450px 450px ;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    
   
}



/* line */
.line{
    width: 100%;
    height: 1px;
    background-color: #ffff;
}



/* footer */

.rames{
    width: 100%;
    height: 300px;
    background-color: #000; 
   display: flex;
   justify-content: space-between;
   
}
.rames span{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #872525;
    
    

}

.rame{
    color: #ffff;
}
.rame p{
    margin-top: 20px;
    text-decoration: underline;
    padding: 30px;
    font-size: 24px;
}
.rame li{
    list-style: none;
    margin-left: 20px;
    padding: 5px;
}
.contact{
   
   margin-top: 50px;
}
.ben{
    color:  #ffff;
    font-size: 24px;
    text-decoration: underline;
   
}
.gazo{
    padding: 20px;
    margin-left: -40px;
}

.bar{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
   vertical-align: middle;
   line-height: 20px;
   padding: 10px;
}  

.bor{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
  
   vertical-align: middle;
   line-height: 20px;
   padding: 10px;
}  

.bir{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
  
   vertical-align: middle;
   line-height: 20px;
   padding: 10px;
  
}  

.bug{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
   vertical-align: middle;
   line-height: 20px;
  padding: 10px;
}   

.contact img{
    vertical-align: middle;
   margin-right: 20px;
}
.conect{
   
    margin-right: 200px;
    padding: 50px;
}
.conect p{
    text-decoration: underline;
    font-size: 24px;
    color: #ffff;
}
.conect input{

 width: 150px;
 height: 30px;
margin-top: 15px;

border: 1px solid rgba(121, 70, 70, 0.267);

  
}

 ::placeholder {
  color: black;
  font-size: 1rem;
  padding: 20px;
  
}
.conect .classe{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background: #872525;
   display: flex;
   justify-content: center;
   align-items: center;
 margin-left: 30px;
 
  
}
.conect .classe a{
    text-align: center;
    text-decoration: none;
   
    color: #DCD9D9;
    text-align: center;
  
}










/* line */
.line{
    width: 100%;
    height: 1px;
    background-color: #ffff;
}

/* footer */

 .rames{
    width: 100%;
    height: 300px;
    background-color: #000; 
   display: flex;
   justify-content: space-between;
   
}
.rames span{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #872525;
    
    

}

.rame{
    color: #ffff;
}
.rame p{
    margin-top: 20px;
    text-decoration: underline;
    padding: 30px;
    font-size: 24px;
}
.rame li{
    list-style: none;
    margin-left: 20px;
    padding: 5px;
}
.contact{
   
   margin-top: 50px;
}
.ben{
    color:  #ffff;
    font-size: 24px;
    text-decoration: underline;
   
}
.gazo{
    padding: 20px;
    margin-left: -40px;
}

.bar{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
   vertical-align: middle;
   line-height: 20px;
   padding: 10px;
}  

.bor{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
  
   vertical-align: middle;
   line-height: 20px;
   padding: 10px;
}  

.bir{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
  
   vertical-align: middle;
   line-height: 20px;
   padding: 10px;
  
}  

.bug{
    color: #ffff;
    display: flex;
   text-align: center;
   justify-content: center;
   vertical-align: middle;
   line-height: 20px;
  padding: 10px;
}   

.contact img{
    vertical-align: middle;
   margin-right: 20px;
}
.conect{
   
    margin-right: 200px;
    padding: 50px;
}
.conect p{
    text-decoration: underline;
    font-size: 24px;
    color: #ffff;
}
.conect input{

 width: 150px;
 height: 30px;
margin-top: 15px;

border: 1px solid rgba(121, 70, 70, 0.267);

  
}

 ::placeholder {
  color: black;
  font-size: 1rem;
  padding: 20px;
  
}
.conect .classe{
    width: 100px;
    height: 30px;
    border-radius: 30px;
    background: #872525;
   display: flex;
   justify-content: center;
   align-items: center;
 margin-left: 30px;
 
  
}
.conect .classe a{
    text-align: center;
    text-decoration: none;
   
    color: #DCD9D9;
    text-align: center;
  
}



