*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background: rgba(179, 144, 212, 0.56);
    overflow-x: ;
}
.quittez{
  position: relative;
 margin-top: -500px;
}
.content {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   margin-top: 100px;
}
.content video{
    max-width: 100%;
}

@media screen and (max-width : 600px) {
    .quittez {
        position: relative;
        top: 100px;
    }
    
    .content{
        max-width: 100%;
    } 
}

@media screen and (max-width : 780px) {
    .quittez {
        width: 10px;
        height: 10px;
        margin-top: -400px;
       max-width: 100%;
    }
    
    .content{
        max-width: 100%;
    } 
}

@media screen and (max-width : 1280px) {
    .quittez {
        width: 10px;
        height: 10px;
        margin-top: -600px;
       max-width: 100%;
    }
    
    .content{
        max-width: 100%;
    } 
}