*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(137, 43, 226, 0.526);
}
.container{
    width: 300px;
    height: 380px;
    background-color: rgba(92, 5, 173, 0.472); 
    margin: 0 auto;
    margin-top: 150px;
}

.container  h1{
    color: white;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  
}
.open{
    padding: 20px;
}


.container span{

  padding: 5px;
   font-size: 16px;
    
}

.container input{
   
    width: 200px;
    height: 30px;
   margin: 10px;
  
    border-radius: 10px;
  border: none;
  border-radius: 5px;
 
 
  
   
} 
.container button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    margin-top: -10px;
    margin-left: 80px;
    cursor: pointer;
    background: rgba(179, 144, 212, 0.56);
   
}
.container button a{
    text-decoration: none;
    color: #000;
}

